{% extends "master.html" %}

{% block title %}Home{% endblock %}


{% block body %}
    <style>
        #course_label{
            color: white;
        }
        h4, h3{
            color: black;
        }

        input{
            color:  black;
        }

        .container {
            width: 1000px;
            clear: both;
            padding-top: 10px;
        }

        .container input {
        width: 100%;
        clear: both;
        }

        .time_table{
            display: table;
        }

        .day_cell{
            display: table;
        }



    </style>


    <!-- Breacrumbs -->
    <ul class="breadcrumb">
        <li><a href="{{ url_for('courselist') }}">Course List</a></li>
        <li><a href="{{ url_for('addcourse') }}">Add Course</a></li>
    </ul>
    <!-- End breadcrumbs -->

    <label id="course_label" for="course_id">Course:</label>
     <select name="course_id" id="course_id" form="course_form">
        {% for course in courses %}
        <option value="{{ course.code_name }}">{{ course.code_name }} {{ course.full_name }}</option>
        {% endfor %}
    </select>

    <form action="{{ url_for('addcourse')}}" id="course_form" method="POST">
        {% set days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"] %}

        <div class="container">
            <label for="fromDate">Lectures start date:</label>
            <p>Date: <input type="text" id="datepickerFrom" size="30" placeholder="yyyy-mm-dd" name="fromDate" id="fromDate"></p>


            <label for="toDate">Lectures end date:</label>
            <p>Date: <input type="text" id="datepickerTo" size="30" placeholder="yyyy-mm-dd" name="toDate" id="toDate"></p>

        </div>

        <div class="form-group container">
            <table class="table table-bordered">
                {% for day in days %}
                <tr>
                    <td>
                        <input type="checkbox" class="form-control" name="{{ day|lower }}" id="{{ day|lower }}" style="padding: 0;">
                        <label for="{{ day|lower }}"><h3>{{ day }}</h3></label>
                    </td>
                    <td>
                        <label for="{{ day|lower }}_hours_from"></label>
                        <h4>From</h4>
                        <div class="time_table">
                            <div class="time_cell">
                                <input type="text" class="form-control" id="{{ day|lower }}_hours_from" name="{{ day|lower }}_hours_from">
                            </div>
                            <div class="time_cell">
                                <input type="text" class="form-control" id="{{ day|lower }}_minutes_from" name="{{ day|lower }}_minutes_from">
                            </div>
                        </div>
                    </td>
                    <td>
                        <label for="{{ day|lower }}_minutes_to" ></label>
                        <h4 >To</h4>
                        <div class="time_table">
                            <div class="time_cell">
                                <input type="text" class="form-control" id="{{ day|lower }}_hours_to" name="{{ day|lower }}_hours_to" >
                            </div>
                            <div class="time_cell">
                                <input type="text" class="form-control" id="{{ day|lower }}_minutes_to" name="{{ day|lower }}_minutes_to">
                            </div>
                        </div>
                    </td>
                </tr>
               {% endfor %}
            </table>
        </div>
        <input type="submit" class="btn btn-lg btn-primary btn-block " value="Submit">
    </form>
{% endblock %}
