{% extends "master.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <label for="course_id">Course name:</label>
     <select name="course_id" id="course_id" form="courseForm">
        {% for course in courses %}
            <option value="{{ course }}">{{ course }}</option>
        {% endfor %}
    </select>

    <form action="{{ url_for("addcourse") }}" id="courseForm">
        {% set days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"] %}

        <div class="form-group">
            <table class="table-bordered">
                {% for day in days %}
                <tr>
                    <td>
                        <label for="{{ day|lower }}">{{ day }}</label>
                        <input type="checkbox" class="form-control" name="{{ day|lower }}" id="{{ day|lower }}">
                    </td>
                    <td>
                        <label for="{{ day|lower }}_time_stamp"></label>
                        <input type="time" class="form-control" id="{{ day|lower }}_time_stamp">
                    </td>
                </tr>
               {% endfor %}
            </table>
        </div>

        <div>
            <label for="fromDate">Lectures start:</label>
            <input type="datetime" class="form-control" name="fromDate" id="fromDate">

            <label for="toDate">Lectures end:</label>
            <input type="datetime" class="form-control" name="toDate" id="toDate">
        </div>

        <input type="submit" class="form-control" value="Submit">
    </form>
{% endblock %}