{% extends "master.html" %}

{% block title %}Home{% endblock %}


{% block body %}
    <style>
        #course_label{
            color: white;
        }
        h4, h3{
            color: black;
        }

        input{
            color:  black;
        }

        .container {
        width: 800px;
        clear: both;
        padding-top: 10px;
        }

        .container input {
        width: 100%;
        clear: both;
        }

    .breadcrumb li {
    display: inline;
    }

    .breadcrumb li+li:before {
        content:"» ";
    }



    </style>

    <label id="course_label" for="course_id">Course:</label>
     <select name="course_id" id="course_id" form="course_form">
        {% for course in available_courses %}
            <option value="{{ course }}">{{ course }}</option>
        {% endfor %}
    </select>

    <form action="{{ url_for('addcourse', course_id=course_id) }}" id="course_form" method="POST">
        {% set days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"] %}

        <div class="container">
            <label for="fromDate">Lectures start date:</label>
            <p>Date: <input type="text" id="datepicker" size="30" placeholder="yyyy-mm-dd" name="fromDate" id="fromDate"></p>


            <label for="toDate">Lectures end date:</label>
            <p>Date: <input type="text" id="datepicker" size="30" placeholder="yyyy-mm-dd" name="toDate" id="toDate"></p>

        </div>

        <div class="form-group container">
            <table class="table table-bordered">
                {% for day in days %}
                <tr>
                    <td>
                        <label for="{{ day|lower }}"><h3>{{ day }}</h3></label>
                    </td>
                    <td>
                        <input type="checkbox" class="form-control" name="{{ day|lower }}" id="{{ day|lower }}">
                    </td>
                    <td>
                        <label for="{{ day|lower }}_time_stamp_from"></label>
                        <h4>From</h4>
                        <input type="time" class="form-control" id="{{ day|lower }}_time_stamp_from">
                    </td>
                    <td>
                        <label for="{{ day|lower }}_time_stamp_to" ></label>
                        <h4 >To</h4>
                        <input type="time" class="form-control" id="{{ day|lower }}_time_stamp_to" >
                    </td>
                </tr>
               {% endfor %}
            </table>
        </div>
        <input type="submit" class="btn btn-lg btn-primary btn-block " value="Submit">
    </form>
{% endblock %}