{% extends "master.html" %}

{% block title %}{% endblock %}

{% block body %}
    <p>
        {% now "%A", tz="America/Los_Angeles" %}
    </p>
    <form action="{{ url_for('createLecturelist') }}" method=POST>
        {% i = 0 %}
        {% for date in dates %}
            {% weekday = date.strftime("%A") %}
            {% if weekday|lower in lectureDays %}
                <label for="lecture_{{ date }}">Lecture #{{ i }}: {{ weekday }}</label>
                <input type="text" name="lecture_{{ date }}">
        {% end for %}
        <input class="btn btn-default" type="submit" value="submit">
    </form>
{% end block %}