{% extends "master.html" %}

{% block title %}{% endblock %}

{% block body %}

    <!-- Breacrumbs -->
    <ul class="breadcrumb">
        <li><a href="{{ url_for('courselist') }}"></a>Course List</li>
        <li><a href="{{ url_for('lecturelist', course_id=course.id) }}">Lecture List</a></li>
        <li><a href="{{ url_for('createlecturelist', course_id=course.id) }}"></a>Create Lecture List</li>
    </ul>
    <!-- End breadcrumbs -->

    <div class="text-center">
        <h3>Edit lectures and tags for {{ course.code_name }}</h3>
    </div>

    <form action="{{ url_for('createlecturelist', course_id = course.id) }}" method=POST>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Lecture number
                    </th>
                    <th>
                        Lecture date
                    </th>
                    <th>
                        Tags
                    </th>
                </tr>
            </thead>
            <tbody>
                {% set i = [1] %}
            {% for date in dates %}
                <tr>
                        {% set id = i[0] %}
                        {% set lecture_id = id|string %}
                        <td>
                            <b>Lecture #{{ id }}</b>
                        </td>
                        <td>
                            {{ date.strftime('%A - %Y-%m-%d - %H:%M:%S') }}
                            <input type="hidden" value="{{ date.strftime('%Y-%m-%d %H:%M:%S') }}"
                                   name="{{ id }}_date">
                        </td>
                        <td>
                            <input class="form-control" type="text" name="{{ lecture_id }}_tags"
                                   id="{{ lecture_id }}_tags" placeholder="value one, value two">
                        </td>
                        {% if i.append(i.pop() + 1) %}{% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input class="btn btn-lg btn-block btn-primary" type="submit" value="save">
    </form>
{% endblock %}