{% extends "master.html" %}

{% block title %}{% endblock %}

{% block body %}

    {% set dates = [("Monday", "03.01.2018"),("Tuesday", "04.01.2018"), ("Wednesday", "05.01.2018"),
        ("Thursday", "06.01.2018")] %}
    {% set lectureDays = ["tuesday", "thursday"] %}

    <h3>Edit lectures and </h3>

    <form action="{{ url_for('createlecturelist') }}" method=POST>
        <table class="table">
            {% set i = [0] %}
            {% for date in dates %}
                <tr>
                    {# set weekday = date.strftime("%A") #}
                    {% set weekday = date[0] %}
                    {% if weekday|lower in lectureDays %}
                        {% set lecture_id = "lecture_" + id|string %}
                        {% set id = i[0] %}
                        <td>
                            {{ weekday + " " + date[1] }}
                        </td>
                        <td>
                            <label for="{{ lecture_id }}">Lecture {{ id }}: Tags:</label>
                        </td>
                        <td>
                            <input type="text" name="{{ lecture_id }}" id="{{ lecture_id }}">
                        </td>
                        {% if i.append(i.pop() + 1) %}{% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        <input class="btn btn-default" type="submit" value="save">
    </form>
{% endblock %}