{% extends "master.html" %}

{% block title %}Feedback{% endblock %}

{% block body %}

    <!-- Breacrumbs -->
    <ul class="breadcrumb">
        <li><a href="{{ url_for('courselist') }}">Course List</a></li>
        <li><a href="{{ url_for('lecturelist', course_id=lecture.course_id)}}">Lecture List</a></li>
        <li><a href="{{ url_for('feedbackform', lecture_id=lecture_id)}}">Feedback Form</a></li>
    </ul>
    <!-- End breadcrumbs -->

    <h2>Feedback for lecture in {{ lecture.course.code_name }}, {{ lecture.date.date() }}</h2>
    <form action="{{ url_for('feedbackform', lecture_id=lecture_id) }}" method=POST>
        <table class="table">
            <thead>
            <tr>
                <th>Tag</th>
                <th>Comprehension rating</th>
                <th>Comment</th>
            </tr>
            </thead>
            {% for subject in subjects %}
                <tbody>
                <td>
                    <input type="hidden" name="{{ subject.id }}_keyword" value="{{ subject.keyword }}">{{ subject.keyword }}
                </td>
                <td>
                    {% for i in range(1, 6) %}
                        <label class="radio-inline">
                            <input type="radio" value="{{ i }}" name="{{ subject.id }}_rating">{{ i }}
                        </label>
                    {% endfor %}
                </td>
                <td>
                    <textarea class="form-control" rows="1" name="{{ subject.id }}_comment"></textarea>
                </td>
                </tbody>
            {% endfor %}
        </table>
        <input class="btn btn-default" type="submit" value="Submit">
    </form>

{% endblock %}


