{% extends "master.html" %}

{% block title %}{% endblock %}

{% block body %}

        <ul class="center-block nav nav-tabs">
            {% for subject in subjects %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ subject['name'] }}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Messages</a></li>
                        <li><a href="#">Graphs</a></li>
                    </ul>
                </li>
            {% endfor %}
        </ul>

        <div id="FeedbackGraph" class="center-block">
            <p>Insert graphs here</p>
        </div>

            <table>
                {% for subject in subjects %}
                    {% for comment in subjects['comments'] %}
                        <tr>
                            <td>
                                <p>Username</p>
                            </td>
                            <td>
                                <p>Subject: {{ subject['name'] }}</p>
                            </td>
                            <td>
                                <p>Rating: {{ comment[0] }}</p>
                            </td>
                            <td>
                                <p>Comment: {{ comment[1] }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>

{% endblock %}
