{% extends 'master.html' %}

{% block body %}
    <h2>Feedback for {{ lecture }}</h2>
    <form action="{{ url_for('feedbackform') }}" method=post>
    {{ form.hidden_tag() }}
    <table class="table">
        <thead>
            <tr>
                <th>Tema</th>
                <th>{{ form.rating.label }}</th>
                <th>{{ form.comment.label }}</th>
            </tr>
        </thead>
    {% for subject in subjects %}

                <tbody>
                    <td>{{ subject }}</td>
                    <td>
                        {% for rating in form.rating %}
                            {{ rating.label }}
                            {{ rating }}
                        {% endfor %}
                    </td>
                    <td>{{ form.comment }}</td>
                </tbody>

    {% endfor %}
    </table>
    {{ form.submit }}
    </form>

{% endblock %}


