{% extends "master.html" %}

{% block title %}{% endblock %}

{% block body %}

        <div id="FeedbackGraph" class="center-block">
            <p>Graphs haha WOW</p>
        </div>

        {% block feedbackBoxes %}
        <table border="1" class="center-block">
        {% for n in range(10) %} <!-- erstatt dette med for message in messages for eksempel !-->
            <tr>
                <td>message.userID</td>
                <td>message.content</td>
            </tr>
        {% endfor %}
        </table>
        {% endblock %}

{% endblock %}
