
{% extends "master.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<style>

h1, h3{
    color: white;
}

.login {
    width: 300px;
    text-align: center;
}

.sign-in-btn {
    margin-top: 50px;

}

body{
    background-color: black;
}

#logo_image{

}

</style>

<div id="logo_image" class="container text-center title-box">
    <img src="{{ url_for('static', filename='images/chalktalk_logo_resized.png') }}" alt="Chalktalk Logo"
        width="200">
</div>

<div class="container login">
    <h3 class="form-signin-heading"> Please log in using FEIDE</h3>
    <a href="{{ url_for('oauth_authorize') }}" class="btn btn-lg btn-primary btn-primary btn-block sign-in-btn" type="submit">Log in</a>
</div>

{% if debugging %}
<div class="container login">
    <h3 class="form-signin-heading">Development testing login</h3>
    <a href="{{ url_for('login') }}?role=student" class="btn btn-lg btn-primary btn-primary btn-block sign-in-btn" type="submit">Log in as student</a>
    <a href="{{ url_for('login') }}?role=lecturer" class="btn btn-lg btn-primary btn-primary btn-block sign-in-btn" type="submit">Log in as lecturer</a>
</div>
{% endif %}

{% endblock %}


