{% extends "master.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<style>

        h1{
          color: white;
        }

        h3{
            color: white;
        }
        th{
            color: white;
        }

        td{

            color: white;
        ]

        #courseField{

            margin-top: 200 px;

        }

        #containerLeft{

            width: 600px;


        }

        #containerRight{

            width: 300px;
            float: right;

        }

        #generateListBtn{

            width: 50px;

        }




    </style>




   <link href="{{ url_for('static', filename='css/calendar.css') }}" rel="stylesheet">

<div class="container text-center title-box">
    <H1> Welcome Lecturer  </H1>
</div>

<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>Day</th>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="Day">Monday</td>
          <td data-title="Name">Material Design Color Palette</td>
          <td data-title="Status">Fill in</td>
        </tr>
        <tr>
          <td data-title="ID">Tuesday</td>
          <td data-title="Name"></td>
          <td data-title="Status">Fill in</td>
        </tr>
        <tr>
          <td data-title="ID">Wednesday</td>
          <td data-title="Name">Material Design Hierarchical Display</td>
          <td data-title="Status">Fill in</td>
        </tr>
        <tr>
          <td data-title="ID">Thursday</td>
          <td data-title="Name">Material Design Sidebar</td>
          <td data-title="Status">Fill in</td>
        </tr>
        <tr>
          <td data-title="ID">Friday</td>
          <td data-title="Name">Material Design Tiles</td>
          <td data-title="Status">Fill in</td>
        </tr>
        <tr>
          <td data-title="ID">Saturday</td>
          <td data-title="Name">Material Design Typography</td>
          <td data-title="Status">Fill in</td>
        </tr>
        <tr>
          <td data-title="ID">Sunday</td>
          <td data-title="Name">Material Design Buttons</td>
          <td data-title="Status">Fill in</td>
        </tr>
      </tbody>
    </table>
  </div>



{% endblock %}