<!DOCTYPE html>
{% extends "master.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<style>
        .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
            background-color: #c4c4c4;
        }

        .table-hover>tbody>tr:hover>td>a{
            color: white;
        }

        #courseList{

            margin-top: 200 px;

        }

        .container{

            width: 800px;

        }

    </style>

<div class="container text-center title-box">
    <H1>Lecture list</H1>
</div>

<div class="container text-center">
    <h2> Course {{ course.code_name }}</h2>
</div>



<div id="courseList" class="table-responsive container">

    <table id="table" class="table table striped table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Parallel</th>
          <th>Subjects</th>
        </tr>
      </thead>
      <tbody>
      {% for lecture in course.lectures %}
        <tr>
          <td data-title="Date">
              <a href="{{ url_for('lecturefeedback', lecture_id=lecture.id) }}">{{ lecture.date.strftime("%Y-%m-%d %H:%M") }}</a>
          </td>
          <td data-title="Parallel">
              <a href="{{ url_for('lecturefeedback', lecture_id=lecture.id) }}">{{ lecture.parallel }}</a>
          </td>
          <td data-title="Subjects">
              <a href="{{ url_for('lecturefeedback', lecture_id=lecture.id) }}">
              {% for subject in lecture.subjects %}
                  {{ subject.keyword }},
              {% endfor %}
              </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

</div>

<a href="{{ url_for('logout') }}" class="btn btn-lg btn-primary btn-primary btn-block sign-in-btn" type="submit">Log out</a>

{% endblock %}
