<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <meta name="description" content=""> -->
    <!-- <meta name="author" content=""> -->
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>{% block title %}{% endblock %} - ChalkTalk</title>

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">


    <style>
        body{
           background-image: url("/static/images/blackboard.png");
        }
        h1, h2, h3, p, form {
            color: white;
        }
    </style>



    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script> -->
  </head>

  <body>

      <div class="starter-template">

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <br>
            {% for category, message in messages %}
            <p {% if category == 'error' %}style="color:red;">{% endif %}{{ message|safe }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}

      </div>

    </div><!-- /.container -->
  </body>
</html>
