<!DOCTYPE html>
{% extends "master.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

    <canvas id="myChart"></canvas>

    <script>


        var rating;

        {% for subject in subjects %}
            if("{{ subject['name']}}" == "Programvare"){
                rating = {{ subject['ratings']}};
            }
        {% endfor %}

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['1', '2', '3', '4', '5'],
                datasets: [{
                    label: 'Rating',
                    data: rating,
                    backgroundColor: "rgba(55,125,255,0.4)"
                }]
            }
        });




    </script>


{% endblock %}